---
import Layout from "@layouts/Layout.astro";
import SocialHeader from "@components/organism/SocialHeader.astro";
import Footer from "@components/organism/Footer.astro";
import { getUrl } from "@lib/helpers";

const url = getUrl() + "/policies/privacidad"
---

<Layout title="Terminos y Condiciones">
  <SocialHeader />
  <section class={`flex flex-col items-center text-white mt-10 gap-8 px-10
                  [&>div]:max-w-4xl 
                  [&>div>h2]:font-bold [&>div>h2]:mb-2 [&>div>h2]:text-lime-500
                  [&>div>ol]:flex [&>div>ol]:flex-col [&>div>ol]:gap-5
                  [&>div>ol>li>span]:text-lime-200 [&>div>ol>li>span]:font-semibold`}>


    <h1 class="text-3xl font-bold">Términos y condiciones</h1>
    <div>
      <h2>Protección de Datos (<a href={url} class="underline">Política de Privacidad</a>)</h2>
      <p>
        Por medio de este sitio web se recogen datos de carácter personal
        necesarios para la gestión y mantenimiento de algunos de nuestros
        servicios. Sin perjuicio de las finalidades que en cada caso se
        indiquen, dicha información será guardada y gestionada con su debida
        confidencialidad, aplicando las medidas de seguridad informática
        establecidas en la legislación aplicable para impedir el acceso o uso
        indebido de sus datos, su manipulación, deterioro o pérdida. En
        cualquier momento puede usted ejercer sus derechos de acceso,
        rectificación o cancelación en relación con dichos datos, dirigiendo su
        solicitud a la dirección del titular de los ficheros.
      </p>
    </div>

    <div>
      <h2>Aviso Legal y Política de Privacidad</h2>
      <ol class="list-decimal ml-5">
        <li>
          <span>DATOS IDENTIFICATIVOS:</span> En cumplimiento con el deber de información
          recogido en artículo 10 de la Ley 34/2002, de 11 de julio, de
          Servicios de la Sociedad de la Información y del Comercio Electrónico,
          a continuación, se reflejan los siguientes datos: el titualar del
          dominio: https://bibliovet.vercel.app es vercel.com/ y los titulares
          de proyecto y el manejo de la pagina, Sanss y Gabriela Villamil, con
          domicilio a estos efectos en Universidad Tecnológica de Pereira,
          Pereira. Colombia
        </li>
        <li>
          <span>USUARIOS:</span> El acceso y/o uso de este portal bibliovet.vercel.app
          atribuye la condición de USUARIO, que acepta, desde dicho acceso y/o
          uso, las Condiciones Generales de Uso aquí reflejadas. Las citadas
          Condiciones serán de aplicación independientemente de las Condiciones
          Generales de Contratación que en su caso resulten de obligado
          cumplimiento.
        </li>
        <li>
          <span>USO DEL PORTAL:</span> bibliovet.vercel.app proporciona el acceso a multitud
          de informaciones, servicios, programas o datos (en adelante, “los
          contenidos”) en Internet pertenecientes a Bibliovet o a sus
          licenciantes a los que el USUARIO pueda tener acceso. El USUARIO asume
          la responsabilidad del uso del portal. Dicha responsabilidad se
          extiende al registro que fuese necesario para acceder a determinados
          servicios o contenidos. En dicho registro el USUARIO será responsable
          de aportar información veraz y lícita. Como consecuencia de este
          registro, al USUARIO se le puede proporcionar una contraseña de la que
          será responsable, comprometiéndose a hacer un uso diligente y
          confidencial de la misma. El USUARIO se compromete a hacer un uso
          adecuado de los contenidos y servicios (como por ejemplo servicios de
          chat, foros de discusión o grupos de noticias) que
          bibliovet.vercel.app ofrece a través de su portal y con carácter
          enunciativo pero no limitativo, a no emplearlos para (i) incurrir en
          actividades ilícitas, ilegales o contrarias a la buena fe y al orden
          público; (ii) difundir contenidos o propaganda de carácter racista,
          xenófobo, pornográfico-ilegal, de apología del terrorismo o
          atentatorio contra los derechos humanos; (iii) provocar daños en los
          sistemas físicos y lógicos de Nombre de Bibliovet y creadores del
          sitio web , de sus proveedores o de terceras personas, introducir o
          difundir en la red virus informáticos o cualesquiera otros sistemas
          físicos o lógicos que sean susceptibles de provocar los daños
          anteriormente mencionados; (iv) intentar acceder y, en su caso,
          utilizar las cuentas de correo electrónico de otros usuarios y
          modificar o manipular sus mensajes. Nombre de Bibliovet y creadores
          del sitio web se reserva el derecho de retirar todos aquellos
          comentarios y aportaciones que vulneren el respeto a la dignidad de la
          persona, que sean discriminatorios, xenófobos, racistas,
          pornográficos, que atenten contra la juventud o la infancia, el orden
          o la seguridad pública o que, a su juicio, no resultaran adecuados
          para su publicación. En cualquier caso, <strong
            >bibliovet.vercel.app</strong
          > no será responsable de las opiniones vertidas por los usuarios a través
          de los foros, chats, u otras herramientas de participación.
        </li>
        <li>
          <span>PROTECCIÓN DE DATOS:</span> <strong>bibliovet.vercel.app</strong> cumple con las
          directrices de la Ley Orgánica 15/1999 de 13 de diciembre de Protección
          de Datos de Carácter Personal, el Real Decreto 1720/2007 de 21 de diciembre
          por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica y
          demás normativa vigente en cada momento, y vela por garantizar un correcto
          uso y tratamiento de los datos personales del usuario. Para ello, junto
          a cada formulario de recabo de datos de carácter personal, en los servicios
          que el usuario pueda solicitar a Nombre de bibliovet y creadores del sitio
          web , hará saber al usuario de la existencia y aceptación de las condiciones
          particulares del tratamiento de sus datos en cada caso, informándole de
          la responsabilidad del fichero creado, la dirección del responsable, la
          posibilidad de ejercer sus derechos de acceso, rectificación, cancelación
          u oposición, la finalidad del tratamiento y las comunicaciones de datos
          a terceros en su caso. Asimismo, <strong>Bibliovet</strong>
          informa que da cumplimiento a la Ley 34/2002 de 11 de julio, de Servicios
          de la Sociedad de la Información y el Comercio Electrónico y le solicitará
          su consentimiento al tratamiento de su correo electrónico con fines comerciales
          en cada momento.
        </li>

        <li>
          <span>PROPIEDAD INTELECTUAL E INDUSTRIAL:</span> <strong>Bibliovet</strong> por sí o
          como cesionaria, es titular de todos los derechos de propiedad intelectual
          e industrial de <strong>Bibliovet</strong>, así como de los elementos
          contenidos en la misma segun corresponda (a título enunciativo,
          imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos,
          combinaciones de colores, estructura y diseño, selección de materiales
          usados, programas de ordenador necesarios para su funcionamiento,
          acceso y uso, etc.), <strong>Bibliovet</strong> o bien de sus licenciantes.
          Todos los derechos reservados. En virtud de lo dispuesto en los artículos
          8 y 32.1, párrafo segundo, de la Ley de Propiedad Intelectual, quedan expresamente
          prohibidas la reproducción, la distribución y la comunicación pública,
          incluida su modalidad de puesta a disposición, de la totalidad o parte
          de los contenidos de esta página web, con fines comerciales, en cualquier
          soporte y por cualquier medio técnico, sin la autorización de <strong
            >Bibliovet</strong
          >. El USUARIO se compromete a respetar los derechos de Propiedad
          Intelectual e Industrial titularidad de Nombre de <strong
            >Bibliovet</strong
          > creadora del sitio web. Podrá visualizar los elementos del portal e incluso
          imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador
          o en cualquier otro soporte físico siempre y cuando sea, única y exclusivamente,
          para su uso personal y privado. El USUARIO deberá abstenerse de suprimir,
          alterar, eludir o manipular cualquier dispositivo de protección o sistema
          de seguridad que estuviera instalado en el las páginas de <strong
            >Bibliovet</strong
          >
        </li>

        <li>
          <span>EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</span> <strong>Bibliovet</strong>.
          no se hace responsable, en ningún caso, de los daños y perjuicios de
          cualquier naturaleza que pudieran ocasionar, a título enunciativo:
          errores u omisiones en los contenidos, falta de disponibilidad del
          portal o la transmisión de virus o programas maliciosos o lesivos en
          los contenidos, a pesar de haber adoptado todas las medidas
          tecnológicas necesarias para evitarlo.
        </li>

        <li>
          <span>MODIFICACIONES:</span> <strong>Bibliovet</strong> se reserva el derecho de efectuar
          sin previo aviso las modificaciones que considere oportunas en su portal,
          pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que
          se presten a través de la misma como la forma en la que éstos aparezcan
          presentados o localizados en su portal.
        </li>

        <li>
          <span>ENLACES:</span> En el caso de que en nombre del dominio se dispusiesen
          enlaces o hipervínculos hacía otros sitios de Internet, <strong
            >Bibliovet</strong
          > no ejercerá ningún tipo de control sobre dichos sitios y contenidos.
          En ningún caso <strong>Bibliovet</strong> asumirá responsabilidad alguna
          por los contenidos de algún enlace perteneciente a un sitio web ajeno,
          ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud,
          amplitud, veracidad, validez y constitucionalidad de cualquier material
          o información contenida en ninguno de dichos hipervínculos u otros sitios
          de Internet. Igualmente, la inclusión de estas conexiones externas no implicará
          ningún tipo de asociación, fusión o participación con las entidades conectadas.
        </li>

        <li>
          <span>DERECHO DE EXCLUSIÓN:</span> <strong>Bibliovet</strong> se reserva el derecho
          a denegar o retirar el acceso a portal y/o los servicios ofrecidos sin
          necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios
          que incumplan las presentes Condiciones Generales de Uso.
        </li>

        <li>
          <span>GENERALIDADES:</span> <strong>Bibliovet</strong> perseguirá el incumplimiento
          de las presentes condiciones, así como cualquier utilización indebida de
          su portal ejerciendo todas las acciones civiles y penales que le puedan
          corresponder en derecho.
        </li>

        <li>
          <span>MODIFICACIÓN DE LAS PRESENTES CONDICIONES Y DURACIÓN:</span> <strong>Bibliovet</strong> podrá
          modificar en cualquier momento las condiciones aquí determinadas,
          siendo debidamente publicadas como aquí aparecen. La vigencia de las
          citadas condiciones irá en función de su exposición y estarán vigentes
          hasta que sean modificadas por otras debidamente publicadas.
        </li>
      </ol>
    </div>
  </section>

  <Footer />
</Layout>
