---
import Layout from "../layouts/Layout.astro";
import Header from "@components/organism/Header.astro";
import Footer from "@components/organism/Footer.astro";
import { ContentTopic } from "@/components/reactComponents/contentTopic";

---

<Layout title="Microbiologia">
  <Header category={1} />
  <main class="w-full">
    <ContentTopic client:load />
  </main>
  <Footer/>
</Layout>

