---
import Layout from "../layouts/Layout.astro";
import { index } from "../../es.json";
---

<Layout title="Welcome to BiblioVet.">
  <main class="flex flex-col items-center py-8 px-10 w-full h-full">
    <h1 class="text-white font-bold">Histologia</h1>
  </main>
</Layout>