---
import Layout from "../layouts/Layout.astro";
import { TestingComponent } from "@/components/reactComponents/contentTemplates/fortest";
---

<Layout title="Pruebas BiblioVet.">
  <main class="flex flex-col items-center py-8 px-10 w-full h-full">

    <TestingComponent />
  </main>
</Layout>

