---
import Layout from "@layouts/Layout.astro";
import { getSession } from "@lib/helpers";
import { supabase } from "@/lib/supabase";
import UserDetails from "@components/organism/profile/UserDetails.astro";
import UserArticles from "@components/organism/profile/UserArticles.astro";
import SocialHeader from "@components/organism/SocialHeader.astro";

export const prerender = false;

// --------------- Logica back de la vista ---------------
const { id } = Astro.params;
const url = import.meta.env.DEV
  ? "http://localhost:4321"
  : "https://qpets.vercel.app";

const sessionData = await getSession(Astro.cookies);
if(!sessionData.status){
    return Astro.redirect(url + "/auth/signin");
}

// Una vez asegurado que hay un incio de sesion, verificamos si es el mismo o no
const { data:user } = await supabase
    .from("user_related")
    .select()
    .eq("uuid", sessionData.session.data.user!.id);


if(user![0].id == id){
    return Astro.redirect(url + "/dashboard");
}

// Si no es el mismo usuario, entonces obtenemos la informacion de este usuario
const response = await fetch(url + "/api/profile", {
  method: "GET",
  headers: { id: id!, typeOfId: "id" },
});

const { data, status, image, contributions } = await response.json();
if (!status) {
  return Astro.redirect(url);
}
---

<Layout title="dashboard">
  <SocialHeader />
  <section class="flex flex-wrap h-full justify-center mx-auto my-10 lg:my-20 gap-10 px-7">
    <UserDetails image={image} data={data[0]} type={'visitor'} />
    <UserArticles contributions={contributions} type={'visitor'} />
  </section>
</Layout>
