<footer class="flex flex-col items-center pb-4 pt-32 mt-auto text-zinc-700 font-semibold text-xs">
    <p>Desarrollado por Sanss</p>
    <p class="text-center">Escrito y revisado por Gabriela Villamil - Estudiante de Medicina Veterinaria y Zootecnia</p>
</footer>