---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#009578" />
    <link rel="icon" type="image/webp" href="/images/vaca192.webp" />
    <link rel="apple-touch-icon" href="/images/vaca192.webp" />
    <link rel="manifest" href="../manifest.json" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/images/vaca192.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <slot />
    <script src="../index.ts"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
    ></script>
  </body>
</html>
<style is:global>

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #18181b;
    background-size: 224px;
    height: 100%;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  /* Aplica estilos al scrollbar en navegadores WebKit (Chrome, Safari, etc.) */
  ::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
    height: 8px; /* Altura del scrollbar (para barras de desplazamiento horizontal) */
  }

  /* Fondo del scrollbar */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; /* Bordes redondeados */
  }

  /* Botón deslizante del scrollbar */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Bordes redondeados */
  }

  /* Botón deslizante del scrollbar al pasar el cursor */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Opcional: estilo del scrollbar cuando se utiliza el borde o la sombra */
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
</style>
